In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pyroomacoustics as pra
from numpy import hamming
import audio_functions as af
import plot
import time

In [2]:
sim_names = []

for i in range(1):
    mod_dict = {"var":"room", "param":"t60", "value":(0.4+i*0.15)}
    #mod_dict = {"var":"room", "param":"dim", "value":[7,8, 3]}
    #mod_dict = {"var":"mic_array", "param":"position", "value":[3,3, 1.5]}
    sim_name = f"prueba t60-{0.4+i*0.15}"
    af.gen_simulation_dict(sim_name, mod_dict)
    sim_names.append(sim_name)
    time.sleep(1)

Simulaci√≥n generada en simulaciones/prueba t60-0.4

In [3]:
df = af.process_simulation_data(*sim_names)

[0.0, 0.00010416666666666667, 0.0002708333333333333, 0.0004583333333333333]
[0.0, 69.07, 62.32, 58.4]
[0.0, 0.000125, -0.0030416666666666665, 0.000625]
[0.0, 64.61, nan, 44.39]

c:\Users\joaqo\OneDrive\Escritorio\facultad\materias\DSP\DSP-TP\audio_functions.py:124: RuntimeWarning: invalid value encountered in arccos
  angle = np.arccos(c*t/d)

[0.0, 0.000125, 0.0003125, 0.0004166666666666667]
[0.0, 64.61, 57.59, 61.55]
[0.0, 0.000125, 0.0003125, 0.0004166666666666667]
[0.0, 64.61, 57.59, 61.55]
[0.0, 2.0833333333333333e-05, 0.00010416666666666667, 0.00022916666666666666]
[0.0, 85.9, 79.71, 74.81]
[0.0, 0.00014583333333333335, 0.0002916666666666667, 0.0004583333333333333]
[0.0, 59.99, 59.99, 58.4]

In [4]:
df

,sim_name,expected_theta,method,theta_prom,error,est_theta_list
0,prueba t60-0.4,46.397,Classic,63.263,284.4732,"[0.0, 69.07, 62.32, 58.4]"
1,prueba t60-0.4,46.397,ROTH,NaN,NaN,"[0.0, 64.61, nan, 44.39]"
2,prueba t60-0.4,46.397,PHAT,61.250,220.6116,"[0.0, 64.61, 57.59, 61.55]"
3,prueba t60-0.4,46.397,SCOT,61.250,220.6116,"[0.0, 64.61, 57.59, 61.55]"
4,prueba t60-0.4,46.397,ECKART,80.140,1138.5900,"[0.0, 85.9, 79.71, 74.81]"
5,prueba t60-0.4,46.397,HT,59.460,170.6420,"[0.0, 59.99, 59.99, 58.4]"